mixin tourItem
    .tour
        .tour-top
            img(src="./assets/images/image-1.jpg", alt="img").tour-image
            span.tour-price From $40
        .tour-content
            h3.tour-title Thailands Ayutthaya Temples Cruise from Bangkok
            .tour-rating
                .tour-review
                    .tour-star
                        img(src="./assets/images/star.svg", alt="tour-star")
                    .tour-review-count
                        span 4.8 (12 reviews)
                span.tour-duration Duration: 9 hours
            a(href="https://facebook.com", target="_blank", rel="nooper noreferer").tour-button Tours Price $61
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HTML-CSS-MASTER
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="./assets/css/style.css")
    body 
        .tour-list-container
            .tour-list
                +tourItem
                +tourItem
                +tourItem
                +tourItem
                +tourItem
                +tourItem
                +tourItem
