* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: #f5f5f5;
  padding: 40px 24px;
}
.tour-list-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.tour-heading {
  color: #353945;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
}

.tour-list {
  --colums: 3;
  --gap: 30px;
  --spacing: calc((calc(var(--colums) - 1) * var(--gap)) / var(--colums));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  /* margin-left: -30px; */

  /* gap */
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.tour {
  /* margin-left: 30px; */
  /* width: calc(33.33% - 30px); */

  /* gap */
  width: calc(33.33% - 30px);
  height: auto;
  background-color: white;
  border-radius: 10px;
  /* overflow: hidden; */
}

.tour-top {
  position: relative;
}

.tour-image {
  display: block;
  width: 100%;
  height: 239px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.tour-price {
  position: absolute;
  display: inline-block;
  top: 24px;
  left: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #fcfcfc;
  padding: 5px 16px;
  border-radius: 4px;
  background-color: rgba(53, 57, 59, 0.8);
}

.tour-content {
  padding: 20px 20px 14px 20px;
}

.tour-title {
  margin-bottom: 10px;
  color: #23262f;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.556;
}

.tour-rating {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-review {
  display: flex;
  align-items: center;
}

.tour-review-count {
  margin-left: 11px;
}

.tour-duration,
.tour-review-count {
  color: #353945;
}

.tour-button {
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 8px 17px;
  background-color: #3b71fe;
  text-decoration: none;
  border-radius: 8px;
  line-height: 17px;
  display: inline-block;
}

@media screen and (max-width: 767.98px) {
  .tour-list {
    row-gap: 20px;
  }
  .tour {
    width: 100%;
  }

  .tour-title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .tour-rating,
  .tour-button {
    font-size: 12px;
  }

  .tour-content {
    padding: 17px 17px 9px;
  }

  .tour-image {
    height: 211px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .tour {
    width: calc(50% - 20px);
  }
}
