mixin popularItem
    .popular-item
        .popular-image 
            .popular-overplay
            img(src="https://plus.unsplash.com/premium_photo-1670060949801-481ee30a9f7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80", alt="image-unsplash").popular-img
            span.popular-label Must See
        .popular-content 
            span.popular-time Sep 28 10:00 AM - 1:00 PM
            h3.popular-title The Grand Palace
            .popular-review 
                img(src="../assets/images/star.svg", alt="star")
                span 4.8 (12 reviews)