mixin tourItem
    .tour
        .tour-top
            img(src="./assets/images/image-1.jpg", alt="img").tour-image
            span.tour-price From $40
        .tour-content
            h3.tour-title Thailands Ayutthaya Temples Cruise from Bangkok
            .tour-rating
                .tour-review
                    .tour-star
                        img(src="./assets/images/star.svg", alt="tour-star")
                    .tour-review-count
                        span 4.8 (12 reviews)
                span.tour-duration Duration: 9 hours
            a(href="https://facebook.com", target="_blank", rel="nooper noreferer").tour-button Tours Price $61